*{
    padding: 0;
    margin: 0;
    font-family: 'San Francisco', 'Noto Sans KR', sans-serif;
}
body{
    width: 100vw;
    overflow-x: hidden;
}
.wrap{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.wrap > div{
    display: flex;
    justify-content: center;
}

.wrap > div > .container{
    width: 1300px;
    display: flex;
}

.wrap > .main > .container{
    flex-direction: column;
}

.wrap > .top {
    padding-top: 20px;
    background: #f3f4f7;
    min-height: 300px;
}

.wrap > .top > .container > .left{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -30px;
}

.wrap > .top > .container > .left img{
    border-radius: 40px;
    width: 60%;
    height: auto;
}

.wrap > .top > .container > .right{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding: 10px;
    justify-content: center;
    margin-top: 30px;
}

.wrap > .top > .container > .right > .title{
    font-size: 1.6rem;
    font-weight: 600;
    color: #606060;
}

.wrap > .top > .container > .right > .name-box{
    display: flex;
    margin-top: 40px;
    align-items: baseline;
}

.wrap > .top > .container > .right > .name-box > .full-name{
    font-size: 1.5rem;
    font-weight: bold;
}

.wrap > .top > .container > .right > .name-box > .link-btns{
    margin-left: 10px;
    font-size: 1rem;
    font-weight: bold;
}

.wrap > .top > .container > .right > .name-box > .link-btns a {
    color: #a5a5a5;
    margin-right: 3px;
    text-decoration: none;
}

.wrap > .top > .container > .right > .name-box > .link-btns a img{
    width: .9rem;
}

.wrap > .top > .container > .right > .name-box > .link-btns a:hover img.hov{
    display: inline-block;
}

.wrap > .top > .container > .right > .name-box > .link-btns a:hover img.ori{
    display: none;
}

.wrap > .top > .container > .right > .name-box > .link-btns a img.hov {
    display: none;
}

.wrap > .top > .container > .right > .name-box > .link-btns a:hover {
    color: #0059ff;
}

.wrap > .top > .container > .right > .contact{
    font-size: .8rem;
    color: #0059ff;
    margin-top: 10px;
}

.wrap > .top > .container > .right > .contact i {
    margin-right: 2px;
}

.wrap > .top > .container > .right > .contact span {
    margin-right: 10px;
}

.wrap > .main > .container > .group{
    padding: 80px 0 40px 0;
    width: 100%;
}

.wrap > .main > .container > .group > .title{
    font-size: 2.2rem;
    font-weight: 500;
}

.wrap > .main > .container > .group .cont-box {
    display: flex;
    justify-content: end;
}

.wrap > .main > .container > .group > .cont-box .cont {
    width: 80%;
}

.wrap > .main > .container > .group > .cont-box .cont .text {
    line-height: 1.4rem;
    margin-bottom: 10px;
}

.wrap > .main > .container > .group > .cont-box .cont .text .summary {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 30px;
}

.wrap > .main > .container > .group > .cont-box .cont .text ul{
    margin-top: 10px;
}

.wrap > .main > .container > .group > .cont-box .cont .text ul .add{
    color: #1a7700;
}

.wrap > .main > .container > .group > .cont-box .cont .text ul .remove {
    color: #898989;
}

.wrap > .main > .container > .group > .cont-box .cont .text .t-bold {
    font-weight: bold;
}

.wrap > .main > .container > .group > .cont-box .cont .list{
    border-top: 1px solid #cfcfcf;
    border-bottom: 1px solid #cfcfcf;
}

.wrap > .main > .container > .group > .cont-box .cont .list > li{
    padding: 30px 40px;
    display: flex;
}

.wrap > .main > .container > .group > .cont-box .cont .list > li:not(:last-of-type){
    border-bottom: 1px solid #e6e6e6;
}

.wrap > .main > .container > .group > .cont-box .cont .list > li .icon{
    margin-right: 50px;
}


.wrap > .main > .container > .group > .cont-box .cont .list > li .icon img{
    width: 90px;
}

.wrap > .main > .container > .group > .cont-box .cont .list > li .name{
    font-size: 1rem;
    font-weight: bold;
    margin-right: 50px;
    display: flex;
    align-items: baseline;
    width: 130px;
}

.wrap > .main > .container > .group > .cont-box .cont .list > li .cont {
    line-height: 1.4rem;
    font-size: .9rem;
    font-weight: 500;
}

.wrap > .main > .container > .group > .cont-box .cont .skills {
    margin-top: 5px;
}

.wrap > .main > .container > .group > .cont-box .cont .skills ul{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    padding: 0;
    list-style-type: none;
}

.wrap > .main > .container > .group > .cont-box .cont .skills ul li{
    margin-right: 10px;
    background: #6690ff;
    border-radius: 8px;
    padding: 0 6px;
    font-weight: bold;
    color: #fff;
    font-size: .8rem;
    margin-bottom: 5px;
    line-height: 1.4rem;
    position: relative;
}

.wrap > .main > .container > .group > .cont-box .cont .skills ul li.lib{
background: #8c8c8c;
}

.wrap > .main > .container > .group > .cont-box .cont .skills ul li.not-use{

}

.wrap > .main > .container > .group > .cont-box .cont .skills ul li.not-use::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 96%;
    height: 2px;
    background-color: #0000007a;
    transform: translateX(-50%);
}

.wrap > .main > .container > .group.indv-project .cont-box{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1px solid #cfcfcf;
    border-bottom: 1px solid #cfcfcf;
    margin-top: 10px;
    padding-top: 30px;
}

.wrap > .main > .container > .group.indv-project .cont-box .row{
    display: flex;
}

.wrap > .main > .container > .group.indv-project .cont-box .left{
    width: 50%;
    display: flex;
    justify-content: center;
}

.wrap > .main > .container > .group.indv-project .cont-box .right{
    width: 50%;
    align-items: center;
    display: flex;
}

.wrap > .main > .container > .group.indv-project .cont-box .cont .list{
    border-top: none;
    border-bottom: none;
}

.wrap > .main > .container > .group.indv-project .cont-box .cont .list > li{
    display: flex;
    flex-direction: column;
}

.wrap > .main > .container > .group.indv-project .title{
    display: flex;
    align-items: center;
}

.wrap > .main > .container > .group.indv-project .title img.name{
    width: 100px;
}

.wrap > .main > .container > .group.indv-project .title .link{
    font-size: 1.1rem;
    margin-left: 15px;
}

.wrap > .main > .container > .group.indv-project .title .link:hover{
    color: #8601ff;
}

.wrap > .main > .container > .group.indv-project .sub-title {
    color: #9b9b9b;
    font-size: .9rem;
    margin-top: 15px;
}

.wrap > .main > .container > .group.indv-project .info .images {
    overflow: hidden;
    width: 100%;
    height: 400px;
    outline: 1px solid #b3b3b3;
    position: relative;
    margin-top: 20px;
}


.wrap > .main > .container > .group.indv-project .cont{
    display: flex;
    flex-direction: column;
}

.bottom{
    margin-top: 130px;
    height: 100px;
}

.star{
    color: #8cc3f0;
    margin-left: 5px;
    font-size: .8rem;
}

.swiper-button-next {
    position: absolute;
    top: 50%;
    right: 5px;
    color: white;
    z-index: 100;
    height: 100%;
}
.swiper-button-prev {
    position: absolute;
    top: 50%;
    left: 5px;
    color: white;
    z-index: 100;
}

.images .swiper-slide {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.images .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.profile .cont{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.profile .cont img{
    width: 18px;
}

.profile .cont .v-line{
    color:  #d0d0d0;
}

.profile .cont .sub{
    color: #747474;
    font-size: .9rem;
}

.profile .cont li span{
    margin-left: 5px;
}

.edu .cont .list li{
    display: flex;
    flex-direction: column;
}

.edu .cont .list li .info{
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 12px;
}

.edu .cont .list li .info span{
    margin-right: 10px;
}

.edu .cont .list li .info .v-line,
.edu .cont .list li .info .sub{
    font-weight: 400;
    color: #a3a3a3;
}

.edu .cont .list li .sub{
    color: #a3a3a3;
}

.edu .cont .list li .sub span{
    margin-right: 15px;
    font-size: .9rem;
}

.edu .cont .list li .sub .v-line{
    color: #ebebeb;
}

.etc .item{
    width: 300px;
}

.etc .item .title{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: bold;
}

.etc .item .item-wrap{
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #d5d5d5;
    margin-bottom: 10px;
    display: flex;
}

.etc .item .item-wrap div{
    display: flex;
    justify-content: space-between;
}

.etc .item .item-wrap .image{
    width: 100px;
    margin-right: 20px;
}

.etc .item .item-wrap .right {
    flex-direction: column;
    justify-content: center;
    width: 130px;
}

.etc .item .item-wrap .right div{
    margin-bottom: 5px;
}

.etc .item .item-wrap .right > span{
    font-size: .8rem;
    color: #949494;
    margin-top: 10px;
    display: flex;
    justify-content: end;
}

.modal {
    transition: opacity 0.5s, visibility 0.5s;
    opacity: 0;
    visibility: hidden;
    display: none;
    position: fixed;
    z-index: 999;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
}

.modal.open {
    display: block;
    opacity: 1;
    visibility: visible;
}

.modal-content {
    padding: 10px;
    background: #fff;
    border-radius: 10px;
    margin: auto;
    display: block;
    max-width: 90%;
    max-height: 90%;
    transform: translateY(-10%);
    opacity: 0;
    transition: transform 0.5s, opacity 0.5s;
    cursor: auto;
}

.modal.open .modal-content {
    transform: translateY(0);
    opacity: 1;
}


.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.timeline{
    position: relative;
    width: 900px;
    border-top: 2px solid dimgrey;
}

.timeline .date{
    display: flex;
}

.timeline-date ul{
    display: flex;
    font-size: 1.2rem;
    justify-content: space-around;
}

.timeline-date ul li{
    margin-top: 5px;
    position: relative;
}

.timeline-date ul li .dt{
    padding: 0 10px;
}

.timeline-date ul li .r-line{
    position: absolute;
    left: 60px;
    color: #d2d2d2;
}

.timeline-wrap{
    width: 900px;
    height: 100px;
    margin-top: 160px;
    margin-bottom: -140px;
    font-size: 1rem;
}

/*1------------------------------*/

.timeline .date#one .title{
    position: absolute;
    left: 100px;
    top: -30px;
    height: 70px;
    margin-left: 5px;
    border-left: 1px solid #d0d0d0;
    display: flex;
    align-items: baseline;
    font-weight: bold;
    color: #00c7ff;
}
.timeline .date#one .title img{
    width: 18px;
    margin: 0 5px;
}
.timeline .date#one .back{
    width: 216px;
    height: 40px;
    background: #00cfff33;
    position: absolute;
    bottom: 0;
    left: 105px;
}

.timeline .date#one{
    position: absolute;
    top: -72px;
    left: -85px;
}

.timeline .date#one .node{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timeline .date#one .date_st{
    width: 210px;
}

.timeline .date#one .date_ed{
    width: 220px;
}

.timeline .date#one .node .val{
    margin-bottom: 15px;
    height: 1rem;
}

.timeline .date#one .node .v-line{
    width: 2px;
    height: 40px;
    background: dimgrey;
}

.timeline .date#one. circle{
    width: 20px;
    height: 20px;
    background: #8601ff;
    border-radius: 10px;
}

/*2-------------------------------------------------*/

.timeline .date#two .title{
    position: absolute;
    left: 100px;
    top: -30px;
    height: 70px;
    margin-left: 5px;
    border-left: 1px solid #d0d0d0;
    display: flex;
    align-items: baseline;
    font-weight: bold;
    color: #3a7a39;
}
.timeline .date#two .title img{
    width: 18px;
    margin: 0 5px;
}

.timeline .date#two .back{
    width: 296px;
    height: 40px;
    background: #1a770069;
    position: absolute;
    bottom: 0;
    left: 105px;
}

.timeline .date#two{
    position: absolute;
    top: -72px;
    left: 135px;
}

.timeline .date#two .node{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timeline .date#two .date_st{
    width: 210px;
}

.timeline .date#two .date_ed{
    width: 380px;
}

.timeline .date#two .node .val{
    margin-bottom: 15px;
    height: 1rem;
}

.timeline .date#two .node .v-line{
    width: 2px;
    height: 40px;
    background: dimgrey;
}

/*3---------------------------------------*/
.timeline .date#three .title{
    position: absolute;
    left: 100px;
    top: -45px;
    height: 110px;
    margin-left: 5px;
    border-left: 1px solid #d0d0d0;
    display: flex;
    align-items: baseline;
    font-weight: bold;
    color: #3aac0d;
}

.timeline .date#three .title img{
    width: 18px;
    margin: 0 5px;
}

.timeline .date#three .back{
    width: 240px;
    height: 60px;
    background: #48ff0033;
    position: absolute;
    bottom: 0;
    left: 105px;
}

.timeline .date#three{
    position: absolute;
    top: -92px;
    left: 200px;
}

.timeline .date#three .node{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timeline .date#three .date_st{
    width: 210px;
}

.timeline .date#three .date_ed{
    width: 270px;
}

.timeline .date#three .node .val{
    margin-bottom: 15px;
    height: 1rem;
}

.timeline .date#three .node .v-line{
    width: 2px;
    height: 60px;
    background: dimgrey;
}

/*4---------------------------------------*/
.timeline .date#four .title{
    position: absolute;
    left: 100px;
    top: 0;
    height: 70px;
    margin-left: 5px;
    border-left: 1px solid #d0d0d0;
    display: flex;
    align-items: baseline;
    font-weight: bold;
    color: #d95d5d;
}
.timeline .date#four .title img{
    width: 18px;
    margin: 0 5px;
}

.timeline .date#four .title img{
    width: 20px;
    margin-right: 5px;
}

.timeline .date#four .back{
    width: 296px;
    height: 40px;
    background: #ff000033;
    position: absolute;
    bottom: 0;
    left: 105px;
}

.timeline .date#four{
    position: absolute;
    top: -72px;
    left: 455px;
}

.timeline .date#four .node{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timeline .date#four .date_st{
    width: 210px;
}

.timeline .date#four .date_ed{
    width: 380px;
}

.timeline .date#four .node .val{
    margin-bottom: 15px;
    height: 1rem;
}

.timeline .date#four .node .v-line{
    width: 2px;
    height: 40px;
    background: dimgrey;
}

.quick-menu {
    position: fixed;
    right: 4%;
    top: 25%;
    width: 80px;
    background-color: #d3d3d363;
    padding: 10px;
    border-radius: 5px;
}
.quick-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.quick-menu li {
    margin-bottom: 10px;
}
.quick-menu button {
    width: 100%;
    background-color: white;
    border: 1px solid black;
    font-size: 14px;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}

.hidden {
    display: none;
}

#loading-overlay {
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    margin: -25px 0 0 -25px;
    border: 3px solid #f3f3f3;
    border-top: 3px solid #3498db;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.makePdf{
    background: #6690ff !important;
    color: #fff !important;
}